@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Bellefair;
}

a {text-decoration: none;}

/* Desktop Start */

.burgerMenu{display: none;}

.homePage {
  background-image: url("./public/img/homepage-bg.jpg");
  
  background-repeat: round;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;

  & img {
    padding: 50px;
  }
}

.navBars {
  display: flex;
  padding: 38px 90px 39px 80px;
  height: 96px;
  margin-top: 25px;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.774227142333984px);

  & span {
    display: flex;
    gap: 10px;
    padding: 8px;

  }
  
  & p {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.7px;
  }

  & h5 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
  }

  & .active {
    border-bottom: 2px solid #FFF;  

  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 128px;
}

.homeDescription {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  & h3 {
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
  }

  & h1 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  & p {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
  }
}

.explore {
  width: 224px;
  height: 224px;
  border-radius: 274px;
  background: #FFF;

  & h3 {
    text-align: center;
    margin-top: 40%;
    color: #0B0D17;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }
  
  & span :hover {
    width: 450px;
    height: 450px;
    border-radius: 450px;
    opacity: 0.1036;
    background: #FFF;
  }
}

.destinationPage {
  background-image: url("/img/destinationpage-bg.png");
  background-repeat:round;
  background-size: cover;
  background-position: center;
 }
 
 .destinationMainTitle {
   display: flex;
   gap: 28px;
 
   & h4 {
     color: #FFF;
     font-family: Barlow Condensed;
     font-size: 28px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     letter-spacing: 4.725px;
   }
 
   & h3 {
     margin-bottom: 30px;
     color: #FFF;
     font-family: Barlow Condensed;
     font-size: 28px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     letter-spacing: 4.725px;
     text-transform: uppercase;
   }
 }


.destinationHero {
  display: flex;
  flex-direction: column;
  padding: 64px;

}

.destinationDescriptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px ;
}


.destinationImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destinationDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 380px;
}

.destinationNavBar {
  display: flex;
  gap: 35px;
  margin-bottom: 52px;

  & button {
    color: #FFF;
    border: none;
    background-color:transparent;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
    padding: 8px;
  }
  & .active {
    border-bottom: #FFF solid 2px;
  }
}

.destinationTitle h1 {
  margin-bottom: 14px;
  color: #FFF;
  font-family: Bellefair;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.destinationInfo p {
  margin-bottom: 83px;
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
}

.roadInfo {
  display: flex;
  gap: 74px;

  & p {
    margin-bottom: 12px;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
    text-transform: uppercase;
  }

  & h4 {
    margin-bottom: 60px;
    color: #FFF;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}

.crewPage {
  background-image: url("./public/img/crewpage-bg.png");
  background-repeat: round;
}


.crewHero {
  padding: 64px;
}

.crewMainTitle {
  display: flex;
  gap: 24px;
  padding-left: 40px;

  & h4 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
  }

  & h3 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
  }
}

.crewTitle h2 {
  color: #FFF;
  font-family: Bellefair;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.crewName h1 {
  color: #FFF;
  font-family: Bellefair;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.crewInfo p {
  color: #D0D6F9;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-bottom: 120px;
}



.crewDescriptions {
  display: flex;
  align-items: center;
  gap: 150px;
  padding-left: 40px;
}

/* .crewDescription {
  padding: 0 30px 0 155px;
} */

.crewTitle {
  margin-bottom: 27px;
}

.crewName {
  margin-bottom: 15px;

  & h2 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.crewSelectionBar {
  display: flex;
  gap: 35px;

  & button {
    padding: 8px ;
    background-color: #0B0D17;
    border-radius: 15px;
    
  }
  & .active {
    background-color: #FFF;
  }
}



.technologyHero {
  padding-bottom: 100px;
}

.technologyPage {
  background-image: url('/public/img/technology-bg.jpg');
  background-repeat: round;
}

.technologyDescriptions {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  align-items: center;
}

.technologyDescription { 
  display: flex;
  gap: 30px;
}

.technologyMainTitle {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 76px 0 0 155px;

  & h4 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.725px;
  }

  & h3 {
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
  }
}

.technologyNavBar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 10px 0 155px;

  & button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #000;
    color: #FFF;
  
    /* color: #0B0D17; */
    text-align: center;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
  }

  & .active {
    background-color: #FFF;
    color: #0B0D17;
  }
}

.technologyInfo {

  & .technologyTitle h4 {
    margin-bottom: 11px;
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
  }

  & .technologyName h4 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
  }

  & .technologyInfo p {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
  }
}

/* .technologyImg {
  padding: 0 0 107px;
} */

/* Desktop End */

/* Tablet Start */

@media (width < 769px) {

  .burgerMenu{display: none;}

  body {
    background-color: #000;
  }

  .header {
    margin-bottom: 40px;

    & img {
      padding: 0 50px;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .explore {
    margin-bottom: 24px;
  }


  .destinationNavBar {
    padding: 0;
  }

  .destinationDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .destinationDescriptions {
    display: flex;
    flex-direction: column;
    align-items: center;

    & img {
      margin-bottom: 48px;
    }
  }

  .destinationTitle {

    & h1 {
      text-align: center;
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .destinationInfo {

    & p {
      text-align: center;
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }

  .roadInfo {

    & {
      padding: 0;
    }
  }

  .destinationMainTitle {
    padding: 40px 0 25px 50px;

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.375px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.375px;
      text-transform: uppercase;
    }
  }

  .distance {

    & p {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.362px;
      text-transform: uppercase;
    }

    & h4 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .travelTime {

    & p {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.362px;
      text-transform: uppercase;
    }

    & h4 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .navNumber {
    display: none;
  }

  .navBars {
    padding: 0 10px;
    gap: 37px;
    margin: 0;
  }

  .crewDescriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
    gap: 32px;
  }

  .crewHero {
    padding: 0;
  }

  .crewMainTitle {
    padding: 0 50px;
    margin-bottom: 60px;

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.375px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.375px;
      text-transform: uppercase;
    }
  }


  .crewTitle {
    padding: 0 50px;
  
    & h2 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .crewName h2 {
    color: #FFF;
    text-align: center;
    font-family: Bellefair;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }



  .crewInfo { 
  
    & p {
    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-bottom: 40px;
    }
  }

  .crewSelectionBar {
    justify-content: center;
  }

  .crewImg img {
    width: 75%;
  }

  .technologyDescriptions {
    display: flex;
    flex-direction: column-reverse;
    gap: 48px;
    align-items: normal;

  }

  .technologyMainTitle {
    padding: 10px 60px 50px;

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.375px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.375px;
      text-transform: uppercase;
    }
  }

  .technologyImg {
    overflow-y: hidden;
    height: 300px;

    & img {
      width: 100%;
    }
  }

  .technologyDescription {
    display: flex;
    flex-direction: column;
    padding: 0 110px;
    align-items: center;

    & .technologyNavBar {
      display: flex;
      flex-direction: row;
      padding: 0;

      & button {
        width: 60px;
        height: 60px;
        flex-shrink: 0;
      }
    }
  }

  .technologyInfo {
    text-align: center;
    margin-bottom: 40px;
    
    & p {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  .homeDescription {
    padding: 128px 0;

    & h3 {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 3.375px;
    }

    & h1 {
      color: #FFF;
      font-family: Bellefair;
      font-size: 150px;
      font-style: normal;
      font-weight: 400;
      line-height: 150px; /* 100% */
    }

    & p {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
}

/* Tablet End */

/* Mobile Start  */

@media (width < 400px) {

  .header {
    margin: 0;

    & img {
      padding: 0 24px;
    }

    .burgerMenu {
      display: block;
      
      & .burgerClose {
        display: none;
      }

      & .burgerOpen {
        display: block;
      }
    }
    .show {

      & .burgerClose {
        display: block;
      }

      & .burgerOpen {
        display: none;
      }

    }

  }


  

  .navBars {
    /* flex-direction: column-reverse; */
    background: none;
    backdrop-filter: none; 
    padding: 0;

    & nav {
      position: absolute;
      top: 64px;
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: blur(40.774227142333984px);
    }

    & .navNumber {
      display: block;
    }
  }


  .homeDescription {
    width: 100%;
    padding: 64px 0;
    
    & h3 {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    & h1 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: 100px; /* 125% */
    }

    & p {
      padding: 0 60px;
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 166.667% */
    }
  }

  .explore {
    margin-bottom: 24px;
    width: 150px;
    height: 150px;

    & h3 {
      color: #0B0D17;
      text-align: center;
      font-family: Bellefair;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 1.25px;
    }
  }


  .destinationHero {
    padding: 0;
    align-items: center;
  }

  .destinationMainTitle {
    text-align: center;
    padding: 0;

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
  }

  .destinationDescriptions {
    padding: 0;
  }

  .destinationDescription {
    width: 100%;

  }

  .destinationTitle {


    & h1 {
      font-size: 56px;
    }
  }

  .roadInfo {
    padding: 0;
  }

  .destinationImg {

    & img {
      width: 259px;
      height: 259px;
      flex-shrink: 0;
    }
  }

  .destinationNavBar {
    margin-bottom: 24px;

    & button {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.362px;
    }
  }

  .destinationTitle {

    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.362px;
  }

  .destinationInfo {


    color: #D0D6F9;
    text-align: center;
    font-family: Barlow;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }

  .roadInfo {
    gap: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }


  .crewHero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .crewMainTitle {
    margin-bottom: 24px;

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
  }



  .crewInfo {
    padding: 0;
  }

  .crewDescriptions {
    display: flex;
    flex-direction: column-reverse;
  }

  .crewDescription {
    display: flex;
    flex-direction: column;
    & .crewTitle {
      order: 2;
    }

    & .crewName {
      order: 3;
    }

    & .crewInfo {
      order: 4;
    }

    & .crewSelectionBar {
      margin-bottom: 24px;
    }
  }

  .crewImg img {
    flex-shrink: 0;
    margin-bottom: 30px;
  }


  .crewTitle {

    & h2 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .crewName {

    & h2 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .crewInfo {
    padding: 0 30px;

    & p {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 166.667% */
    }
  }

  .crewSelectionBar {
    margin-bottom: 65px;
  }

  .technologyMainTitle {

    & h4 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 2.7px;
    }

    & h3 {
      color: #FFF;
      font-family: Barlow Condensed;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.7px;
      text-transform: uppercase;
    }
  }

  .technologyImg {

    
    & img {
      object-fit: contain;
    }
  }

  .technologyNavBar {
    padding: 30px 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & button {
      width: 40px;
      height: 40px;
    }
  }

  .technologyDescription {
    padding: 0;
  }

  .technologyTitle {

    & h4 {
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow Condensed;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.362px;    
    }
  }

  .technologyName {

    & h4 {
      color: #FFF;
      text-align: center;
      font-family: Bellefair;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  .technologyInfo {

    text-align: center;
    
    & p {
      padding: 0 30px;
      color: #D0D6F9;
      text-align: center;
      font-family: Barlow;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px; /* 166.667% */
    }
  }
}

/* Mobile End  */

@media (width > 400px) {
  .burgerMenu{display: none;}
  .navBars{
    & nav {

      display: flex !important;
    }
  }
  
}